<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        div {
            display: flex;
            gap: 10px;
        }
    </style>
</head>
<body>
<h1>{{message}}</h1>
<div>
    <a href="/login"><button>登录</button></a>
    <a href="/register"><button>注册</button></a>
</div>
</body>
</html>